footer.footer
    .footer__cont.container
        .footer__wrapper
            ul.footer__list
                li.footer__title Наш адрес
                li.footer__address 302049 <br> Россия, Москва <br> проспект Котиковых 23 к4 офис 394
            ul.footer__list
                li.footer__title Документы
                li.footer__item
                    a.footer__link(href="#") Согласие на обработку данных
                li.footer__item
                    a.footer__link(href="#") Условия использования
                li.footer__item
                    a.footer__link(href="#") Публичная оферта
            ul.footer__list
                li.footer__title Связаться с нами
                li.footer__item
                    a.footer__social-link(href="mailto:info@everget.com") info@everget.com
                li.footer__item
                    a.footer__social-link(href="tel:+88009999999") +8 800 999 9999
                li.footer__item
                    a.footer__link(href="#")
                        img.footer__image(src="../img/fb-icon.svg")
                    a.footer__link(href="#")
                        img.footer__image(src="../img/twitter-icon.svg")
        .footer__support
            .footer__title Мы поддерживаем
        .footer__copyright Copyright 2020 Everget