section.reviews#reviews
    .reviews__cont.container
        .reviews__title.title Отзывы наших клиентов
        ul.reviews__list
            li.reviews__item
                picture.reviews__picture
                    img.reviews__image(src="../img/reviews-1.png")
                .reviews__content
                    .reviews__subtitle Константин Зарубный
                    .reviews__text Гораздо лучше чем проходить банкротство. Все погасил и никаких ограничений на будущее и нормальная кредитная история
            li.reviews__item.reviews__item--grow
                picture.reviews__picture
                    img.reviews__image(src="../img/reviews-2.png")
                .reviews__content
                    .reviews__subtitle Виктория <br> Лебережная
                    .reviews__text Попала в тяжолую финансовую ситуацию но погасить весь долг было нереально, капали штрафы и проценты. С помощью сервиса удалось добиться скидки в 45% и все оплатить. Наконец-то я смогу брать телефон с неизвестных номеров и не ждать на том конце коллектора
            li.reviews__item
                picture.reviews__picture
                    img.reviews__image(src="../img/reviews-3.png")
                .reviews__content
                    .reviews__subtitle Федор <br> Овсеенко
                    .reviews__text Круто, я до последнего не верил что это работает... Но погасил свой долг всместо 65 000р всего 20к!
        .btn__box
            a.button.reviews__button(href="#") Погасить долг со скидкой