section.steps#steps
    .container.steps__cont
        .steps__title.title 3 простых шага
        .steps__cards
            .steps__card
                span.steps__number 1
                span.steps__text Заполни данные
            .steps__card
                span.steps__number 2
                span.steps__text Получи предложение
            .steps__card
                span.steps__number 3
                span.steps__text Оплати за пять&nbsp;минут