.popup.stop-registration#stop-registration
    .stop-registration__body
        .stop-registration__content
            .stop-registration__head Прервать регистрацию
            p.stop-registration__text Введенные данные не будут сохранены
            p.stop-registration__text Вы уверены что хотите прервать регистрацию ?
            .button__stop-registration
                a.button.stop-registration__button-left.popup-link(href="#popup")  отмена
                a.button.stop-registration__button-right.close-popup(href="#") Прервать
