@font-face {
   font-style: normal;
   font-family: SFProDisplay;
   font-weight: 500;
   src: url('../../dest/fonts/SFProDisplay-Medium.woff') format('woff'), url('../../dest/fonts/SFProDisplay-Medium.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: SFProDisplay;
   font-weight: 400;
   src: url('../../dest/fonts/SFProDisplay-Regular.woff') format('woff'), url('../../dest/fonts/SFProDisplay-Regular.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: SFProDisplay;
   font-weight: 600;
   src: url('../../dest/fonts/SFProDisplay-Semibold.woff') format('woff'), url('../../dest/fonts/SFProDisplay-Semibold.woff2') format('woff2');
}
