// colors
$primary-100: #007eff;
$primary-90: #1A8BFF;
$primary-80: #3398FF;
$primary-70: #4DA5FF;
$primary-60: #66B2FF;
$primary-50: #80BFFF;
$primary-40: #99CBFF;
$primary-30: #B3D8FF;
$primary-20: #CCE5FF;
$primary-10: #E5F2FF;
$black-100: #000000;
$black-80: #52575C;
$black-60: #A0A4A8;
$black-40: #CACCCF;
$black-20: #DBDDE0;
$black-10: #E8E8E8;
$black-05: #F9F9FA;
$red: #fb4e4e;
$green: #2ac769;
$yellow: #ffbc1f;
$white: #ffffff;
// breakpoints
$minWidth: 320px;
$maxWidth: 1440;
$max-width-container: 1160;
$lg: $max-width-container + 12;
$md: 991.98;
$sm: 767.98;
$xs: 478.98;
